<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/" />
    <link rel="stylesheet" href="views/login/login.css">
</head>
<body>
    <h1>Login</h1>
    <form onsubmit="return false">
        <fieldset>
          <legend>Form sign up</legend>
          <label for="username">Username :</label>
          <input
            class="inputItem username"
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
          /><br /><br />
          <label for="password">Password :</label>
          <input
            class="inputItem password"
            type="text"
            id="password"
            name="password"
            placeholder="Enter your password"
          /><br /><br />
          <button class="loginSubmitBtn">
            Submit
          </button>
        </fieldset>
      </form>
</body>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>
<script src="views/login/login.js"></script>
</html>